 *{
     padding: 0;
     margin: 0;
     font-family: 'Lobster', cursive;
     transition: all 0.4s;
 }
 body{
     background-color: rgb(206, 206, 206);
 }

 .container{
     background-color: rgb(168, 168, 168);
     width: 80vw;
     min-height: 60vh ;
     margin: 3rem auto;
     /* border: 5px solid red;*/
     text-align: center; 
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

 }

 h1{
     
     padding: 1rem;

 }
 ul li {
     margin-top: 1rem;
    color: gray;
    list-style-type: none;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    /* text-decoration-color:rgb(39, 39, 39) ; */
   
}
ul li p {
    color: white;
}
.sectionA{
    display: flex;
    justify-content: space-evenly;

}
input{
    background-color: rgb(230, 230, 230);
    border: none;
    outline:none;
    color: rgb(49, 49, 49);
    width: 75%;
    height: 8vh;
    border-radius: 10px;
    font-size: 1.3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
button{
width: 15%;
border: none;
background-color: rgb(78, 78, 78);
color: white;
border-radius: 10px;
font-size: 1.3rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}


ul li i:hover{
  color:rgb(78, 78, 78);
  
}